---
layout: archive
title: "Yoga"
permalink: /yoga-health/
author_profile: true
---



If you are interested to learn yoga with me, drop me a line on my email. 

## Certification and experience

1. Certified Yoga Instructor from Swami Vivekananda Yoga Anusandhana Samsthana (SVYASA). [Link](https://svyasa.edu.in/)
2. Taught yoga at Studium Generale, TU Delft, NL. [Link](https://sg.tudelft.nl/weekly-events/yoga-meditation-sessions/)


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

